#footer {
    background-color: #4A4A4A;
    color: #fff;
    height: 125px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
}

#message-box {
    max-height: 75px;
    overflow-y: scroll;
    padding: 0 3em;
}

button {
    font-weight: 700;
    background-color: #fff;
    color: #4A4A4A;
    border: 0;
    border-radius: 0.5em;
    padding: 0.75em;
    transition-property: all;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #2AA684;
    color: #fff;
}
  
::-webkit-scrollbar-track {
    background: #4A4A4A;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar {
    width: 5px;
}